{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>WikiTrail</title>
    <meta name="author" content="Juan Ignacio Avendaño Huergo">
    <link rel="stylesheet" type="text/css" href="{% static 'controlja/style.css' %}" />
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="row">
		<div class="columna"><a class="button" href="{% url 'controlja:new' %}">+ entrada</a></div><div class="columna"><h1>WikiTrail</h1></div>
	</div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <div id="footPanel">
		<p>Por Juan Ignacio Avenda&ntilde;o Huergo</p>
	</div>
  </body>
</html>
