{% extends 'controlja/base.html' %}

{% block content %}

    <div class="row">
        <div class="col_left">
            {% if rutas_list %}
                    {% for ruta in rutas_list %}
                        <div class="articulo">
                            <h2>{{ruta.direccion}}</h2>
                            <span>Distancia: {{ruta.distancia}}</span><br />
                            <span>tipo de ruta: {{ruta.tipo_ruta.tipo}}</span><br />
                            <span>autor: {{ruta.autor}}</span><br />
                            <br />
                            <a href="/{{ruta.pk}}">+ Info</a>
                        </div>
                    {% endfor %}
            {% else %}
                {% if query %}
                    {% if results %}
                        {% for ruta in results %}
                            
                            <div class="articulo">
                                <h2>{{ruta.direccion}}</h2>
                                <span>Distancia: {{ruta.distancia}}</span><br />
                                <span>tipo de ruta: {{ruta.tipo_ruta.tipo}}</span><br />
                                <span>autor: {{ruta.autor}}</span><br />
                                <br />
                                <a href="/{{ruta.pk}}">+ Info</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No se han encontrado rutas</p>
                    {% endif %}
                {% else %}
                    <p>No hay rutas disponibles. Lo sentimos :S</p>
                {% endif %}

            {% endif %}
        </div>

        <div class="col_right">
        </div>
    </div>

{% endblock %}
